/****************   Slider-show   *****************/

.container-slider {
  margin: 2% auto;
  margin-top: 0.1%;
  overflow: hidden;

  .arrow-left {
    position: absolute;
    top: 18vw;
    left: 3%;
    cursor: pointer;
  }
  .arrow-right {
    position: absolute;
    top: 18vw;
    left: 96.5%;
    cursor: pointer;
  }
}
.slider {
  width: 80vw;
  height: 55vw;
  margin: auto;
  overflow: hidden;
}

.background-image-sl {
  cursor: pointer;
  content: "";
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.slider .figure {
  position: relative;
  width: 900%;
  height: 35vw;
  margin: 0;
  left: 0;
  animation: 40s slider infinite;
}

@keyframes slider {
  0% {
    left: 0;
  }
  11.5% {
    left: 0;
  }
  12.5% {
    left: -100%;
  }
  24% {
    left: -100%;
  }
  25% {
    left: -200%;
  }
  36.5% {
    left: -200%;
  }
  37.5% {
    left: -300%;
  }
  49% {
    left: -300%;
  }
  50% {
    left: -400%;
  }
  61.5% {
    left: -400%;
  }
  62.5% {
    left: -500%;
  }
  74% {
    left: -500%;
  }
  75% {
    left: -600%;
  }
  86.5% {
    left: -600%;
  }
  87.5% {
    left: -700%;
  }
  99% {
    left: -700%;
  }
  100% {
    left: -800%;
  }
}
.slider .figure .background-image-sl {
  float: left;
  width: 11.1111111111111%;
}
.slider .fixed-slide {
  position: relative;
  width: 900%;
  height: 35vw;
  margin: 0;

  animation: 0.3s slider-2 ease-in-out;
}
.slider .fixed-slide .background-image-sl {
  float: left;
  width: 11.1111111111111%;
}
.slider .fixed-slide-1 {
  transition: left 0.5s ease-in-out;
  left: 0%;
}
.slider .fixed-slide-2 {
  transition: left 0.5s ease-in-out;
  left: -100%;
}

.slider .fixed-slide-3 {
  transition: left 0.5s ease-in-out;
  left: -200%;
}
.slider .fixed-slide-4 {
  transition: left 0.5s ease-in-out;
  left: -300%;
}
.slider .fixed-slide-5 {
  transition: left 0.5s ease-in-out;
  left: -400%;
}
.slider .fixed-slide-6 {
  transition: left 0.5s ease-in-out;
  left: -500%;
}
.slider .fixed-slide-7 {
  transition: left 0.5s ease-in-out;
  left: -600%;
}
.slider .fixed-slide-8 {
  transition: left 0.5s ease-in-out;
  left: -700%;
}

/* .slider1 {
  overflow: hidden;
  position: relative;
  width: 900%;
  margin: 0;
  margin-top: 20px;
  left: 0;
  z-index: -200;
  animation: 40s slider infinite;
} */
.par {
  position: absolute;
  top: 120%;
  .btn {
    border: 1px solid black;
    border-radius: 3vw;
    padding: 1vw;
    text-align: center;
    font-size: 1.2vw;
    font-family: "Bigelow Rules";
  }

  .btn-large {
    width: 15vw;
  }
}
.par1 {
  font-size: 1.2vw;
}
.par2 {
  font-family: "Comfortaa";
  font-size: 2vw;
  margin-top: 0.1vw;
  margin-bottom: 0.7vw;
}

.control-group {
  position: absolute;
  /* width: 162px; */
  width: 10vw;
  display: flex;
  justify-content: space-around;
  left: 80%;

  top: 63%;
}
.control-item {
  width: 1vw;
  height: 1vw;
  /* width: 14px;
  height: 14px; */
  cursor: pointer;
  /* transition: 0.5s; */
  border: 1px solid black;
  border-radius: 50%;
  /* background-color: navajowhite; */
}
.active-item-chosen-1 {
  left: 4.5%;
}
.active-item-chosen-2 {
  left: 17%;
}
.active-item-chosen-3 {
  left: 29.5%;
}
.active-item-chosen-4 {
  left: 42%;
}
.active-item-chosen-5 {
  left: 54.5%;
}
.active-item-chosen-6 {
  left: 67%;
}
.active-item-chosen-7 {
  left: 79.5%;
}
.active-item-chosen-8 {
  left: 92%;
}
.active-item {
  position: absolute;
  width: 0.35vw;
  height: 0.35vw;

  /* background-color: red; */
  background-color: black;
  border-radius: 50%;
  top: 32%;
}
.active-item-1 {
  left: 4.5%;
}
.active-item-2 {
  left: 17%;
}
.active-item-3 {
  left: 29%;
}
.active-item-4 {
  left: 41.5%;
}
.active-item-5 {
  left: 54%;
}
.active-item-6 {
  left: 66.5%;
}
.active-item-7 {
  left: 79.5%;
}
.active-item-8 {
  left: 92%;
}
.active-item-moving {
  left: 4.5%;
  animation: 40s radio-button infinite;
}
.control-item:hover {
  background-color: lightgray;
}
.control-item-active {
  width: 0.5vw;
  height: 0.5vw;
  cursor: pointer;
  border: 0.5px solid black;
  border-radius: 50%;
  background-color: black;
  animation: 40s animation-control-items infinite;
  position: absolute;
  left: 3.2%;
  top: 23%;
}

@keyframes animation-control-items {
  0% {
    margin-left: 0%;
  }

  12.4% {
    margin-left: 0%;
  }
  12.5% {
    margin-left: 12.5%;
  }
  24.5% {
    margin-left: 12.5%;
  }
  25% {
    margin-left: 25%;
  }
  37.49% {
    margin-left: 25%;
  }
  37.5% {
    margin-left: 37.5%;
  }
  49.99% {
    margin-left: 37.5%;
  }
  50% {
    margin-left: 50%;
  }
  62.49% {
    margin-left: 50%;
  }
  62.5% {
    margin-left: 62.5%;
  }
  74.99% {
    margin-left: 62.5%;
  }
  75% {
    margin-left: 75%;
  }
  87.49% {
    margin-left: 75%;
  }
  87.5% {
    margin-left: 87.5%;
  }
  99.99% {
    margin-left: 87.5%;
  }

  100% {
    margin-left: 100%;
  }
}
.control-item-chosen {
  width: 0.7vw;
  height: 0.7vw;
  cursor: pointer;
  border: 0.5px solid black;
  border-radius: 50%;
  background-color: black;

  position: absolute;
  left: 3.2%;
  top: 23%;
}

.fixed-radio {
  position: relative;
  left: 70%;
  top: 10px;
}

.moving-radio {
  position: absolute;
  top: -0.01px;
  /*  background-color: black; */
  transform: translateX(100%);
  animation: 20s radio-button infinite;
  input[type="radio"] {
    opacity: 0;
  }
  input[type="radio"] + label::before {
    content: "";
    position: absolute;
    left: 37%;
    top: 34%;
    width: 7px;
    height: 7px;
    background-color: darkgrey;
    border-radius: 50%;
  }
}
@keyframes radio-button {
  0% {
    transform: translateX(0%);
  }
  12.49% {
    transform: translateX(0%);
  }
  12.5% {
    transform: translateX(1.25vw);
  }
  24.99% {
    transform: translateX(1.25vw);
  }
  25% {
    transform: translateX(2.5vw);
  }
  37.49% {
    transform: translateX(2.5vw);
  }
  37.5% {
    transform: translateX(3.75vw);
  }
  49.99% {
    transform: translateX(3.75vw);
  }
  50% {
    transform: translateX(5vw);
  }
  62.49% {
    transform: translateX(5vw);
  }
  62.5% {
    transform: translateX(6.25vw);
  }
  74.99% {
    transform: translateX(6.25vw);
  }
  75% {
    transform: translateX(7.5vw);
  }
  87.49% {
    transform: translateX(7.5vw);
  }
  87.5% {
    transform: translateX(8.75vw);
  }
  99.99% {
    transform: translateX(8.75vw);
  }

  100% {
    transform: translateX(10vw);
  }
}
@media (max-width: 768px) {
  .slider {
    width: 95vw;
    height: 60vw;
  }

  .background-image-sl {
    height: 140%;
  }
  .par {
    top: 140%;
  }
  .control-group {
    top: 75%;
  }
}
