.header {
  height: 4.5vw;
  width: 100%;
  display: grid;
  grid-template-columns: 13% 45% 42%;
  justify-items: end;
  /* display: flex;
  justify-content: space-between;
  margin-bottom: 25px; */

  .logo-container {
    height: 100%;
    width: 6vw;
    /* padding: 25px; */
  }
  .logo-kapriz {
    content: "";
    background-position: center;
    background-size: cover;
    width: 4vw;
    height: 4vw;
    /* padding-left: 5%; 
    margin-left: 14vw;*/
    margin-top: 0.8vw;
  }
  .main-title {
    /* position: absolute; */
    /*  left: 50%;
    transform: translateX(-50%); */
    z-index: 10;
    line-height: 4vw;

    /* top: -1.6vh; */
    a {
      font-size: 5.8vw;
      font-family: "Cormorant Infant", serif;
      color: black;
      padding: 0;
      margin: 0;
      /* margin: -1vw; */
      span {
        font-size: 5.3vw;
      }
    }
  }

  .options {
    /* width: 50%;
    height: 100%; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1vw;

    .option {
      padding: 1vw 0.5vw;
      cursor: pointer;
    }
  }
}
@media (max-width: 515px) {
  .header {
    height: 1vh;
    /*width: 100%;
    display: grid;
    
    justify-items: end; */
    grid-template-columns: 13% 55% 32%;
    .main-title {
      /* position: absolute; */
      /*  left: 50%;
  transform: translateX(-50%);font-size: 50px; */
      z-index: 10;
      line-height: 4vh;

      /* top: -1.6vh; */
      a {
        font-size: 5vh;

        span {
          font-size: 4.5vh;
        }
      }
    }
    .logo-kapriz {
      display: none;
    }
  }
}
