/****************   Navigation   ****************/

/**** container for main menu ***************/
* {
  box-sizing: border-box;
}
.navbar {
  /*  padding: 0;
  margin: 0; */
  /* background: white;*/
  width: 85%;
  margin: 0 auto; /*background-color: lightpink;*/

  /* position: absolute; */
  font-family: "Forum", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);

  .navbar-links {
    margin: 0px auto;
    padding: 0;
  }

  .navbar-menu {
    width: 85vw;
    text-align: center;
    margin: 0px auto;
    padding: 0;
    background: white;
  }
  li {
    display: inline-block;
  }
}

a {
  color: black;
  text-decoration: none;
  display: block;
  padding: 0.7vw 0.75vw 0.3vw;
}

.navbar-menu-link:hover {
  font-weight: bold;
}
.navbar-menu-link .hover-border {
  font-size: 0.9vw;
}
.navbar-menu-link .active-l {
  font-weight: bold;
}

li:hover {
  background: white;
}

li:hover a {
  color: black;
}

li:hover a::after {
  left: 0%;
  width: 100%;
  content: "";
  background: rgba(0, 0, 0, 0.8);
}

.rrt {
  position: absolute;
  padding: 0;
  margin: 0;
  top: 0px;
  left: 0;
  width: 50vw;
  height: 100vh;
  background-color: white;
  z-index: 55;
  .black-back {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 50vw;
    width: 50vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
  }
}
.rrt-none {
  display: none;
}

.side-menu {
  margin-left: 0;
  padding: 0.2rem 1rem;
  display: flex;
  flex-direction: column;

  .side-menu-title {
    padding-bottom: 1rem;
    display: grid;
    grid-template-columns: 95% 5%;
    justify-items: center;
    border-bottom: 1px solid black;
  }
  .side-menu-string {
    display: flex;
    justify-content: space-between;
    &:hover {
      font-weight: bold;
    }
  }
  .side-menu-navlink {
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    &:hover {
      cursor: pointer;
      font-weight: bold;
    }
  }

  .side-menu-arrow {
    cursor: pointer;
    font-size: 1.1rem;
    margin-right: 1rem;
    &:hover {
      font-weight: bold;
    }
  }

  .side-menu-arrow-active {
    cursor: pointer;
    font-size: 1.2rem;
    margin-right: 2rem;
    color: red;
    &:hover {
      font-weight: bold;
    }
  }
  .side-menu-sub-string {
    width: 82%;
    display: flex;
    justify-content: space-between;
  }
  .sub-arrow {
    font-size: 1rem;
  }

  .side-menu-sub-sub-string {
    width: 80%;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
  }
  .side-menu-navlink1 {
    padding: 0.3rem;
    display: flex;
    justify-content: space-between;
    &:hover {
      cursor: pointer;
      font-weight: bold;
    }
  }
  .tab-tab {
    margin-left: 15%;
  }

  .show-side-menu-sub {
    margin-left: 2rem;
    padding: 0.2rem 0;
    font-family: "Lora", serif;
    font-size: 0.8rem;
    display: flex;
    &:hover {
      cursor: pointer;
      font-weight: bold;
    }
  }

  .close-side-menu-sub {
    display: none;
  }
}
/**********************************/
.toggle-button {
  position: absolute;
  top: 0.4rem;
  left: 1rem;
  display: none;

  width: 120px;
  height: 50px;
  border: 2px ridge rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: white;
  align-items: center;
  justify-content: center;

  .bars {
    width: 20px;
    height: 16px;

    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background-color: rosybrown; */

    .bar {
      height: 2.5px;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      /* border-radius: 10px; */
    }
    /* .bars-title {
      margin-left: 10px;
    } */
  }
}

/**********************************/
.title-category a {
  color: rgba(129, 14, 14, 0.952);
  font-size: 0.8vw;
  font-weight: bold;
  text-align: left;
  border-bottom: 1px solid gray;
  /*padding-bottom: 10px;*/
  padding-top: 1vw;
  letter-spacing: 0.1vw;
  line-height: 1vw;

  &:hover {
    color: blue;
  }
}
.text-submenu a {
  color: black;
  text-align: left;
}

.img-menu-1-col {
  width: 100%;
  height: 100%;
  margin-left: 0.1%;
  margin-top: 5%;
}
.img-menu-4-col {
  width: 60%;
  height: 100%;
  margin-right: 0.2%;
  margin-top: 25%;
}

li:hover .menu-sub {
  display: block;
  z-index: 3;
}
.img-menu-bd {
  width: 70%;
  height: 100%;
}
.navbar-submenu-container {
  margin-top: 0.1vw;

  .menu-sub {
    position: absolute;
    width: 100%;
    left: 0;
    margin: 1px auto;
    padding: 2vw 7vw;
    font-weight: normal;
    line-height: 2rem;
    color: #ddd;
    background: white;
    box-shadow: 0 50px 40px rgba(0, 0, 0, 0.4);
    display: none;
    z-index: 30;

    li {
      display: block;
      line-height: 0.8rem;
      padding-top: 1%;
      padding-bottom: 0;
      margin-top: 0;
      margin-bottom: 0;
      font-size: 1.1vw;
      font-weight: 500;
    }
  }

  .menu-col-1-6,
  .menu-col-2-6,
  .menu-col-3-6,
  .menu-col-4-6,
  .menu-col-5-6,
  .menu-col-6-6 {
    float: left;
    padding: 0;
    margin: 0;
    width: 16.6%;
  }

  .menu-col-1-5,
  .menu-col-2-5,
  .menu-col-3-5,
  .menu-col-4-5,
  .menu-col-5-5 {
    float: left;
    padding: 0;
    margin: 0;
    margin-bottom: 0.2vw;
    padding-bottom: 0.2vw;
    width: 20%;
  }
}

.menu-sub .text-sub-sub-menu a {
  color: rgb(41, 41, 179);
  text-align: left;

  line-height: 0.7vw;
  font-size: 0.9vw;
}
.menu-sub a {
  padding: 0;
  margin-bottom: 0.2em;
}

.menu-sub a:hover {
  text-decoration: none;
  font-weight: bold;
}

.menu-category:first-of-type {
  margin-top: 0;
}

/************  hover-border  ************************/
.hover-border {
  text-decoration: none;
  position: relative;
}

.hover-border::after {
  content: "";
  width: 0%;
  height: 0.12vw;
  position: absolute;
  bottom: -0.1vw;
  left: 50%;
  transition: all 500ms ease;
}

.hover-border:hover::after {
  left: 0%;
  width: 100%;
  background-color: black;
}

/*****************************************/

@media (max-width: 768px) {
  .toggle-button {
    display: flex;
  }
  .navbar {
    border: none;
    padding: 0;
    margin: 0;
  }
  .navbar a {
    display: none;
  }
}
@media (max-width: 515px) {
  .rrt {
    width: 90vw;

    .black-back {
      left: 90vw;
      width: 10vw;
    }
  }
  .toggle-button {
    /* position: absolute;
    top: 0.4rem;
    left: 1rem;
    display: none; */

    width: 45px;
    height: 45px; /*
    border: 2px ridge rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background-color: white;
    align-items: center;
    justify-content: center; */
  }
  .bars-title {
    display: none;
  }
}
