/****************   Navigation   ****************/

/**** container for main menu ***************/
.navbar-container {
  background: white;
  width: 100%;
  margin: 1.3vw auto 1.1vw;
  /* position: absolute; */
  font-family: "Forum", sans-serif;

  .navbar-menu {
    width: 85vw;
    text-align: center;
    margin: 0 auto;
    padding: 0.01vw;
    background: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.7);
    border-color: black;
  }
  li {
    display: inline-block;
  }
}

a {
  color: black;
  text-decoration: none;
  display: block;
  padding: 0.7vw 0.75vw 0.3vw;
}

.navbar-menu-link:hover {
  font-weight: bold;
  /*cursor: url("./paw.png"), auto;*/
}
.navbar-menu-link .hover-border {
  font-size: 0.9vw;
}
.navbar-menu-link .active-l {
  font-weight: bold;
}

li:hover {
  background: white;
}

li:hover a {
  color: black;
}

li:hover a::after {
  left: 0%;
  width: 100%;
  content: "";
  background: rgba(0, 0, 0, 0.8);
}
/**********************************/
.title-category a {
  color: rgba(129, 14, 14, 0.952);
  font-size: 0.8vw;
  font-weight: bold;
  text-align: left;
  border-bottom: 1px solid gray;
  /*padding-bottom: 10px;*/
  padding-top: 1vw;
  letter-spacing: 0.1vw;
  line-height: 1vw;

  &:hover {
    color: blue;
  }
}
.text-submenu a {
  color: black;
  text-align: left;
}

.img-menu-1-col {
  width: 100%;
  height: 100%;
  margin-left: 0.1%;
  margin-top: 5%;
}
.img-menu-4-col {
  width: 60%;
  height: 100%;
  margin-right: 0.2%;
  margin-top: 25%;
}

li:hover .menu-sub {
  display: block;
  z-index: 3;
}
.img-menu-bd {
  width: 70%;
  height: 100%;
}
.navbar-submenu-container {
  margin-top: 0.01vw;
}
.navbar-submenu-container:hover .wert {
  content: "";
  position: absolute;
  z-index: -5;
  width: 100%;
  left: 0;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}
/* .nav-area1:hover .wert {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
} */
.navbar-submenu-container .menu-sub {
  position: absolute;
  width: 100%;
  left: 0;
  margin: 1px auto;
  padding: 2vw 7vw;
  /* font-size: 0.9vw; */
  font-weight: normal;
  line-height: 2rem;
  color: #ddd;
  background: white;
  /* box-shadow: 0 220px 0px rgba(0, 0, 0, 0.4); */
  display: none;
  z-index: 30;
}
/* .nav-area1 {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
}
.main-menu2 {
  position: relative;
} */

.menu-sub li {
  display: block;
  line-height: 0.8rem;
  padding-top: 1%;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.2vw;
  font-weight: 500;
}
.menu-sub .text-sub-sub-menu a {
  color: rgb(41, 41, 179);
  text-align: left;

  line-height: 0.7vw;
  font-size: 0.9vw;
}
.menu-sub a {
  padding: 0;
  margin-bottom: 0.2em;
}

.menu-sub a:hover {
  text-decoration: none;
  font-weight: bold;
}

/* .menu-sub a:visited {
  background-color: rgba(180, 212, 92, 0.952);
}
*/
/* .menu-category {
  margin: 2.5em 0 0.5em;
} */

.menu-category:first-of-type {
  margin-top: 0;
}

.menu-col-1-6,
.menu-col-2-6,
.menu-col-3-6,
.menu-col-4-6,
.menu-col-5-6,
.menu-col-6-6 {
  float: left;
  padding: 0;
  margin: 0;
  width: 16.6%;
}

.menu-col-1-5,
.menu-col-2-5,
.menu-col-3-5,
.menu-col-4-5,
.menu-col-5-5 {
  float: left;
  padding: 0;
  margin: 0;
  margin-bottom: 0.2vw;
  padding-bottom: 0.2vw;
  width: 20%;
}

/* .menu-col-1 {
  width: 16.7%;
}

.menu-col-2 {
  width: 16.6%;
}
.menu-col-3 {
  width: 20%;
}
.menu-col-4 {
  width: 20%;
}
.menu-col-5 {
  width: 20%;
}
.menu-col-6 {
  width: 20%;
} */
/* 
.text-center {
  text-align: center;
  margin-top: 1%;
} */

/************************************/
.hover-border {
  /* font-size: 10vw; */
  text-decoration: none;
  position: relative;
}

.hover-border::after {
  content: "";
  width: 0%;
  height: 0.12vw;
  position: absolute;
  bottom: -0.1vw;
  left: 50%;
  transition: all 500ms ease;
}

.hover-border:hover::after {
  left: 0%;
  width: 100%;
  background-color: black;
}
/* .hover-border::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 4%;
  background-color: black;
  transition: transform 300ms ease-in-out;
  transform: scaleX(0);
}
.hover-border:hover::before,
.hover-border:focus::before {
  transform: scaleX(1);
} */
